*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::after,
::before {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit;
    font-size: 18px;
    font-family: Brown, Arial, sans-serif;
    --color-white: #ffffff;
    --color-white-two: #d8d8d8;
    --color-black: #2e2e2e;
    --color-black-two: #000000;
    --color-light-grey: #eeebe7;
    --color-dark-blue-grey: #122241;
    --color-medium-grey: #7f7f7f;
    --color-coral: #DF2B1E;
    --color-coral-dark: #CF1B0E;
    --color-pinkish-grey: #AE9065;
    --color-dark-slate-blue: #1c3464;
    --color-pale-grey: #f3f4f5;
    --color-pale-brown: #ab8a69;
    --color-dull-brown: #907051;
    --color-error: #d0021b
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset,
menu,
ol,
ul {
    margin: 0;
    padding: 0
}

dialog,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
::after,
::before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.tw-absolute {
    position: absolute
}

.tw-relative {
    position: relative
}

.tw--bottom-20 {
    bottom: -5rem
}

.tw--bottom-8 {
    bottom: -2rem
}

.tw-left-0 {
    left: 0
}

.tw-right-0 {
    right: 0
}

.tw-col-span-2 {
    grid-column: span 2/span 2
}

.tw-float-right {
    float: right
}

.tw-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.tw-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.tw--ml-2 {
    margin-left: -.5rem
}

.tw-mb-10 {
    margin-bottom: 2.5rem
}

.tw-mb-12 {
    margin-bottom: 3rem
}

.tw-mb-2 {
    margin-bottom: .5rem
}

.tw-mb-4 {
    margin-bottom: 1rem
}

.tw-mb-6 {
    margin-bottom: 1.5rem
}

.tw-mb-8 {
    margin-bottom: 2rem
}

.tw-ml-0 {
    margin-left: 0
}

.tw-mr-10 {
    margin-right: 2.5rem
}

.tw-mt-2 {
    margin-top: .5rem
}

.tw-block {
    display: block
}

.tw-inline-block {
    display: inline-block
}

.tw-inline {
    display: inline
}

.tw-flex {
    display: flex
}

.tw-grid {
    display: grid
}

.tw-h-36 {
    height: 9rem
}

.tw-w-10 {
    width: 2.5rem
}

.tw-w-32 {
    width: 8rem
}

.tw-w-8 {
    width: 2rem
}

.tw-w-full {
    width: 100%
}

.tw-max-w-5xl {
    max-width: 64rem
}

.tw-flex-initial {
    flex: 0 1 auto
}

.tw-flex-grow {
    flex-grow: 1
}

.tw-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.tw-flex-row {
    flex-direction: row
}

.tw-flex-col {
    flex-direction: column
}

.tw-flex-col-reverse {
    flex-direction: column-reverse
}

.tw-items-start {
    align-items: flex-start
}

.tw-items-center {
    align-items: center
}

.tw-items-baseline {
    align-items: baseline
}

.tw-justify-between {
    justify-content: space-between
}

.tw-justify-around {
    justify-content: space-around
}

.tw-gap-2 {
    gap: .5rem
}

.tw-gap-4 {
    gap: 1rem
}

.tw-gap-5 {
    gap: 1.25rem
}

.tw-space-x-8>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem*var(--tw-space-x-reverse));
    margin-left: calc(2rem*calc(1 - var(--tw-space-x-reverse)))
}

.tw-border {
    border-width: 1px
}

.tw-border-solid {
    border-style: solid
}

.tw-bg-cover {
    background-size: cover
}

.tw-bg-center {
    background-position: center
}

.tw-px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.tw-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.tw-pb-10 {
    padding-bottom: 2.5rem
}

.tw-text-center {
    text-align: center
}

.tw-text-right {
    text-align: right
}

.tw-font-copy {
    font-family: Calluna, Georgia, serif
}

.tw-font-headline {
    font-family: Brown, Arial, sans-serif
}

.tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.tw-text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.tw-text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.tw-font-bold {
    font-weight: 700
}

.tw-tracking-widest {
    letter-spacing: .1em
}

.tw-text-black,
.tw-text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.tw-text-gray-600 {
    color: rgb(75 85 99/var(--tw-text-opacity))
}

@font-face {
    font-family: Calluna;
    font-display: swap;
    src: url(../fonts/Calluna-37E9E9_0_0.eot);
    src: url(../fonts/Calluna-37E9E9_0_0.eot?#iefix)format("e../fonts/Calluna/37E9E9_0_0.woff") format("woff"), url(../fonts/Calluna-37E9E9_0_0.ttf)format("truetype")
}

@font-face {
    font-family: Calluna;
    font-display: swap;
    font-weight: 600;
    src: url(../fonts/Calluna-37E9E9_1_0.eot);
    src: url(../fonts/Calluna-37E9E9_1_0.eot?#iefix)format("embedded-opentype"), url(../fonts/Calluna-37E9E9_1_0.woff2)format("woff2"), url(../fonts/Calluna-37E9E9_1_0.woff)format("woff"), url(../fonts/Calluna-37E9E9_1_0.ttf)format("truetype")
}

@font-face {
    font-family: Calluna;
    font-display: swap;
    font-style: italic;
    src: url(../fonts/Calluna-37E9E9_3_0.eot);
    src: url(../fonts/Calluna-37E9E9_3_0.eot?#iefix)format("embedded-opentype"), url(../fonts/Calluna-37E9E9_3_0.woff2)format("woff2"), url(../fonts/Calluna-37E9E9_3_0.woff)format("woff"), url(../fonts/Calluna-37E9E9_3_0.ttf)format("truetype")
}

@font-face {
    font-family: Calluna;
    font-weight: 500;
    src: url(../fonts/Calluna-37E9E9_4_0.eot);
    src: url(../fonts/Calluna-37E9E9_4_0.eot?#iefix)format("embedded-opentype"), url(../fonts/Calluna-37E9E9_4_0.woff2)format("woff2"), url(../fonts/Calluna-37E9E9_4_0.woff)format("woff"), url(../fonts/Calluna-37E9E9_4_0.ttf)format("truetype")
}

@font-face {
    font-family: "Brown";
    src: url(../fonts/Brown-lineto-brown-regular.eot);
    src: url(../fonts/Brown-lineto-brown-regular.eot?#iefix)format("embedded-opentype"), url(../fonts/Brown-lineto-brown-regular.woff2)format("woff2"), url(../fonts/Brown-lineto-brown-regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Brown";
    src: url(../fonts/Brown-lineto-brown-bold.eot);
    src: url(../fonts/Brown-lineto-brown-bold.eot?#iefix)format("embedded-opentype"), url(../fonts/Brown-lineto-brown-bold.woff2)format("woff2"), url(../fonts/Brown-lineto-brown-bold.woff)format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "icomoon";
    src: url(../fonts/Icons-icomoon.eot);
    src: url(../fonts/Icons-icomoon.eot)format("embedded-opentype"), url(../fonts/Icons-icomoon.ttf)format("truetype"), url(../fonts/Icons-icomoon.woff)format("woff"), url(../fonts/Icons-icomoon.svg)format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-chevron-up:before {
    content: ""
}

.icon-play:before {
    content: ""
}

.icon-pencil:before {
    content: ""
}

.icon-ribbon:before {
    content: ""
}

.icon-thick-chevron-up:before {
    content: ""
}

.icon-thick-chevron-down:before {
    content: ""
}

.icon-info:before {
    content: ""
}

.icon-mail:before {
    content: ""
}

.icon-newspaper:before {
    content: ""
}

.icon-linkedin:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-flipboard:before {
    content: ""
}

.icon-facebook:before {
    content: ""
}

.icon-double-right-chevron:before {
    content: ""
}

.icon-plus:before {
    content: ""
}

.icon-minus:before {
    content: ""
}

.icon-check:before {
    content: ""
}

.icon-quote:before {
    content: ""
}

.icon-external-link:before {
    content: ""
}

.icon-envelope:before {
    content: ""
}

.icon-star:before {
    content: ""
}

.icon-bell:before {
    content: ""
}

.icon-chevron-down:before {
    content: ""
}

.icon-chevron-left:before {
    content: ""
}

.icon-chevron-right:before {
    content: ""
}

.icon-hamburger:before {
    content: ""
}

.icon-close:before {
    content: ""
}

.icon-eye:before {
    content: ""
}

.icon-eye-blocked:before {
    content: ""
}

.icon-search:before {
    content: ""
}

:root {
    --breakpoint: xs
}

@media screen and (min-width:544px) {
    :root {
        --breakpoint: sm
    }
}

@media screen and (min-width:650px) {
    :root {
        --breakpoint: md
    }
}

@media screen and (min-width:990px) {
    :root {
        --breakpoint: lg
    }
}

@media screen and (min-width:1300px) {
    :root {
        --breakpoint: xl
    }
}

@media screen and (min-width:1520px) {
    :root {
        --breakpoint: xxl
    }
}

@media (min-width:640px) {
    .sm\:tw-relative {
        position: relative
    }

    .sm\:tw-bottom-0 {
        bottom: 0
    }

    .sm\:tw-mb-4 {
        margin-bottom: 1rem
    }

    .sm\:tw-ml-12 {
        margin-left: 3rem
    }

    .sm\:tw-flex {
        display: flex
    }

    .sm\:tw-h-40 {
        height: 10rem
    }

    .sm\:tw-w-36 {
        width: 9rem
    }

    .sm\:tw-grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .sm\:tw-flex-row {
        flex-direction: row
    }

    .sm\:tw-items-end {
        align-items: flex-end
    }

    .sm\:tw-text-left {
        text-align: left
    }

    .sm\:tw-text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .sm\:tw-text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .sm\:tw-text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .sm\:tw-text-lg,
    .sm\:tw-text-xl {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .sm\:tw-text-xl {
        font-size: 1.25rem
    }
}

@media (min-width:768px) {
    .md\:tw-mr-4 {
        margin-right: 1rem
    }

    .md\:tw-w-36 {
        width: 9rem
    }

    .md\:tw-w-56 {
        width: 14rem
    }

    .md\:tw-grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .md\:tw-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:tw-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .md\:tw-grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .md\:tw-grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .md\:tw-flex-row {
        flex-direction: row
    }

    .md\:tw-items-center {
        align-items: center
    }
}

@media (min-width:1024px) {
    .lg\:tw-ml-2 {
        margin-left: .5rem
    }

    .lg\:tw-max-w-md {
        max-width: 28rem
    }

    .lg\:tw-max-w-sm {
        max-width: 24rem
    }

    .lg\:tw-flex-row {
        flex-direction: row
    }

    .lg\:tw-text-right {
        text-align: right
    }
}